body { background: #3eec73; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 11px; display: flex; }
.block-cart-0 { color: #9e1eea; font-size: 14px; margin-bottom: 5px; }
.block-search-1 { color: #b67e55; font-size: 15px; margin-bottom: 5px; }
.block-product-2 { color: #48b1e0; font-size: 20px; margin-bottom: 5px; }
.block-filter-3 { color: #f7faac; font-size: 16px; margin-bottom: 5px; }
.block-auth-4 { color: #59c647; font-size: 18px; margin-bottom: 5px; }